@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1 {
    /* border: 1px dotted black; */
    flex: 0 0 200px;
}

nav {
    /* border: 1px dotted black; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
nav a {
    background-color: black;
    border-radius: 6px;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: white;
    color: black;
}


main {
    background-color: white;
    width: 90vw;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
}

