@charset "UTF-8";



#container{
    background-color: lightgray;
    display: grid;
    height: 450px;
    grid-template-rows: 1fr 10% 3fr 20%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 10%;
    place-items: center;
}

.caixa1 {
    text-align: center;
    grid-area: 1 / 1 / 2 / -1;
}

.caixa2 {
    text-align: center;
    grid-area: 2 / 1 / 3 / -1;
}

.caixa3 {
    text-align: center;
    grid-area: 3 / 1 / -1 / 3;
}

.caixa4 {
    text-align: center;
    grid-area: 3 / 3 / -1 / -1;
}

.caixa5 {
    text-align: center;
    grid-area: 5 / 1 / -1 / -1;
}