@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
}

.caixa1 {
    background-color: lightgreen;
    grid-row: 1 / span 1;
    grid-column: 1 / spam 3;
}

.caixa2 {
    background-color: lightblue;
    grid-row: 2 / -1;
    grid-column: 1 / 3;
}

.caixa3 {
    background-color: lightcoral;
    grid-row: 2 / -1;
    grid-column: 3 / -1;
}